<ion-content [fullscreen]="true" class="tela-start">
  <ion-grid class="formulario" [formGroup]="cadastro2">
    <ion-row>
      <h1 class="title">Informações Fisicas</h1>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-input
        label="Peso:"
        aria-label="Peso do usuário"
        labelPlacement="stacked"
        type="number"
        [clearInput]="true"
        placeholder=""
        [max]="200"
        [min]="20"
        [(ngModel)]="usuario.peso"
        formControlName="peso"
      >
      </ion-input>
      </ion-col>
    </ion-row>
      <span *ngIf="cadastro2.get('peso')?.invalid">O peso deve ser preenchida</span>
    <ion-row>
      <ion-col>
        <ion-input
        label="Altura:"
        aria-label="Altura do usuário"
        labelPlacement="stacked"
        type="number"
        [clearInput]="true"
        placeholder=""
        [max]="230"
        [min]="50"
        [(ngModel)]="usuario.altura"
        formControlName="altura"
      >
      </ion-input>
      </ion-col>
    </ion-row>
    <span *ngIf="cadastro2.get('altura')?.invalid">A Altura deve ser preenchida, digite em centimetros sua altura</span>
    <ion-row>
      <ion-col class="ion-align-items-center">
        <ion-select aria-label="Sexo" interface="popover" 
        aria-label="Sexo do usuário"
        placeholder="Sexo:" class="select-sexo" (ionChange)="selecionarSexo($event)" formControlName="sexo">
          <ion-select-option value="Feminino">Feminino</ion-select-option>
          <ion-select-option value="Masculino">Masculino</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col class="ion-align-items-center">
        <ion-input
        label="Idade*:"
        aria-label="Idade do usuário"
        labelPlacement="stacked"
        type="number"
        [clearInput]="true"
        placeholder=""
        [max]="100"
        [min]="6"
        [(ngModel)]="usuario.idade"
        formControlName="idade"
      >
      </ion-input>
      </ion-col>
    </ion-row>
    <span *ngIf="cadastro2.get('idade')?.invalid">A idade deve ser preenchida</span>
    <ion-row>
      <div class="buttons">
      <ion-col>
        <ion-button aria-label="Botão de voltar" [routerLink]="['/cadastro1']" class="btn-voltar">Voltar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button aria-label="Botão de continuar" (click)="continuarCadastro() " class="btn-continuar" [disabled]="cadastro2.invalid">Continuar</ion-button>
      </ion-col>
    </div>
    </ion-row>
    <ion-toast [isOpen]="isToastOpen"
        message="Todos os campos devem está preenchidos"
        [duration]="5000"
        (didDismiss)="setOpen(false)"
        ></ion-toast>
  </ion-grid>
</ion-content>
