<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="receitas-salvas">
      <ion-icon name="bookmark"></ion-icon>
      Salvos
    </ion-tab-button>
    <ion-tab-button tab="receitas">
      <ion-icon name="restaurant"></ion-icon>
      Receitas
    </ion-tab-button>
    <ion-tab-button tab="programacao">
      <ion-icon name="calendar-outline"></ion-icon>
      Programação
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" id="criarModalHorario">
    <ion-fab-button id="popover-button" class="adicionar-horario">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-tabs>

<ion-modal id="modalHorario" #modal trigger="criarModalHorario">
  <ng-template>
    <div class="wrapper">
      <h1>Adicionar:</h1>

      <ion-list lines="none">
        <ion-item button="true" detail="false" (click)="openModalRefeicao()">
          <ion-icon src="/assets/icon/icon-meal.svg"></ion-icon>
          <ion-label>Refeição</ion-label>
        </ion-item>
        <ion-item button="true" detail="false" (click)="openModalRemedio()">
          <ion-icon src="/assets/icon/icon-pill.svg"></ion-icon>
          <ion-label>Remédio</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ng-template>
</ion-modal>