page-receitas-salvas {

    .recipe-card {
      height: 100%;
    }
  
    .card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
  
    .delete-button {
      margin-top: 10px;
    }
  }
  