page-receitas-salvas {

    .title-row {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
    }
  
    .title-col {
      text-align: center;
    }
  
    .recipe-card {
      height: 100%;
    }
  
    .card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
  
    .delete-button {
      margin-top: 10px;
    }
  
    @media (max-width: 576px) {
      .title-row {
        height: auto;
      }
    }
  }
  