page-receitas-salvas {

  .title-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }

  .title-col {
    text-align: center;
  }

  .recipe-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .recipe-card ion-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .delete-button {
    margin-top: 10px;
    align-self: flex-end;
  }

  @media (max-width: 576px) {
    .title-row {
      height: auto;
    }
  }
}
