.oba-logo {
  ion-img {
    height: 30vh;
    width: 50vw;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-80%);
  }
}

.title {
  width: 60vw;
}

.enter-options {
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translateX(-50%) translateY(80%);

  .btn-amarelo{
    margin-block: .3rem;
    width: 50vw;
  }
}
