<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>iniciov2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="" alt="Logo">

  <div class="bem-vindo">
    <h2>Seja bem-vindo</h2>
  </div>

  <ion-button size="default" [routerLink]="['/cadastro1']">Cadastre-se</ion-button> <br><br>
  <ion-button size="default" [routerLink]="['/login']">Login</ion-button>
  
  <div class="buttons">
    <button class="facebook" (click)="loginFacebook()">
      <ion-icon name="logo-facebook"></ion-icon>
    </button>
    <button class="google" (click)="loginGoogle()">
      <ion-icon name="logo-google"></ion-icon>
    </button>
  </div>
  
</ion-content>
