.oba-logo{
  ion-img{
    height: 30vh;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-80%);
  }
}

.enter-options{
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translateX(-50%) translateY(80%);
}

.buttons{
  height: 5vh;
}
  
  .facebook {
    background-color: #3b5998;
    color: #fff;
  }
  
  .google {
    background-color: #db4437;
    color: #fff;
  }