<ion-content [fullscreen]="true" class="tela-start">
  <div class="oba-logo">
    <ion-img src="assets/images/oba-logo.svg" alt="Logo"></ion-img>
  </div>

  <div class="enter-options">
    <div class="title">
      <h3>Seja bem-vindo!</h3>
    </div>

    <div class="buttons">
      <ion-button class="btn btn-amarelo" size="default" [routerLink]="['/cadastro1']">
        Cadastre-se
      </ion-button>
  
      <ion-button class="btn btn-amarelo" size="default" [routerLink]="['/login']">
        Login
      </ion-button>
  
      <div class="redes-sociais">
        <ion-button class="facebook" (click)="loginFacebook()">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button class="google" (click)="loginGoogle()">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
      </div>  
    </div>

  </div>
</ion-content>