<ion-content [fullscreen]="true" class="tela-start">
  <ion-grid class="formulario">
        <ion-row class="ion-justify-content-center">
          <ion-avatar aria-label="Foto de perfil do usuário" class="foto-user">
            <img alt="Foto de perfil do usuário" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <ion-button class="adicionarFoto" fill="solid">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-avatar>
      </ion-row>

      <ion-row>
        <h1 class="title">Informações pessoais</h1>
      </ion-row>
      <form action="" [formGroup]="cadastro">
     
        <ion-row>
          <ion-input label="Nome Completo*:" labelPlacement="stacked" type="name" [clearInput]="true"
          aria-label="Nome completo do usuário" [(ngModel)]="usuario.nome"
          formControlName="name">
          <div>
            <ng-container *ngIf="cadastro.get('name')?.hasError('required') && cadastro.get('name')?.touched || cadastro.get('name')?.dirty">
           
            </ng-container>
          </div>
        </ion-input>
        </ion-row>
        <span *ngIf="cadastro?.errors?.['nomeError'] ">O Nome deve ter no minimo 3 letras </span>
        
        <ion-row>
          <ion-input label="Email*:" labelPlacement="stacked" type="email" [clearInput]="true"
            aria-label="E-mail do usuário"  [(ngModel)]="usuario.email" formControlName="email">

         
          </ion-input>
          <span *ngIf="cadastro?.get('email')?.invalid">O Email deve ser válido</span>
        </ion-row>
        <ion-row>
          <ion-input labelPlacement="stacked" type="password" [clearInput]="true" label="Senha*:"
            aria-label="Senha do usuário" [(ngModel)]="senha1" formControlName="senha">
          </ion-input>
        </ion-row>
        <ion-row>
          <ion-input labelPlacement="stacked" type="password" [clearInput]="true" label="Confirme sua Senha"
            aria-label="Confirme sua Senha de usuário" [(ngModel)]="senha2" formControlName="confirmaSenha">
          </ion-input>
        </ion-row>
        <span *ngIf="cadastro.errors?.['confirmaSenhaError']">Senha incorreta , as senhas precisam ser iguais </span>
      </form>
        <ion-row class="ion-justify-content-center">
          <div class="buttons">
            <ion-col>
              <ion-button [routerLink]="['/iniciov2']" aria-label="Botão voltar" class="btn-voltar">Voltar</ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="compararSenha()" aria-label="botão continuar cadastro" class="btn-continuar" [disabled]="cadastro.invalid">Continuar</ion-button>
            </ion-col>  
          </div>
        </ion-row>
        <ion-toast [isOpen]="isToastOpen"
        message="A senha não pode ser menor que 8 digitos"
        [duration]="5000"
        (didDismiss)="setOpen(false)"
        ></ion-toast>
  </ion-grid>
</ion-content>