<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col >
        <ion-avatar aria-label="Foto de perfil do usuário" >
        <img alt="Foto de perfil do usuário" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
        <ion-button class="adicionarFoto" fill="solid" shape="round" size="small">+</ion-button>
      </ion-avatar></ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-input   
      label="Nome Completo*:"
      labelPlacement="stacked"
      type="name"
      [clearInput]="true"
      aria-label="Nome completo do usuário"
    >
    </ion-input>
    </ion-row>
    <ion-row>
      <ion-input   
      label="Email*:"
      labelPlacement="stacked"
      type="email"
      [clearInput]="true"
       aria-label="E-mail do usuário"
    >
    </ion-input>
    </ion-row>
    <ion-row>
      <ion-input
      labelPlacement="stacked"
      type="password"
      [clearInput]="true"
      label="Senha*:"
      aria-label="Senha do usuário"
    >
    </ion-input>
    </ion-row>
    <ion-row>
      <ion-input
      labelPlacement="stacked"
      type="password"
      [clearInput]="true"
      label="Confirme sua Senha"
      aria-label="Confirme sua Senha de usuário"
    >
    </ion-input>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/iniciov2']" aria-label="Botão voltar">Voltar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/cadastro2']" aria-label="botão continuar cadastro" >Continuar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>