<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="auto">
        <ion-button class="btn-mapa">
          <ion-icon name="map-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-searchbar show-clear-button="focus"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="receitas$!=null" class="ion-padding">
  <ion-card *ngFor="let receita of receitas$ | async" (click)="verDetalhes(receita.id)">
    <ion-card-header>
      {{ receita.nome }}
    </ion-card-header>

    <ion-card-content>
      <ion-img [src]="receita.imagem" alt="Imagem da Receita"></ion-img>
      <p class="recipe-info">Categoria: {{ receita.categorias[0]?.nomeCategoria }}</p>
      <p class="recipe-info">Restrições: {{ receita.doencas[0]?.nomeDoenca }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
