<ion-content *ngIf="filteredReceitas$!=null" class="ion-padding">
  <ion-card *ngFor="let receita of filteredReceitas$ | async" (click)="verDetalhes(receita.id)">
    <ion-card-header>
      {{ receita.nome }}
    </ion-card-header>

    <ion-card-content>
      <ion-img [src]="receita.imagem" alt="Imagem da Receita"></ion-img>
      
      <p class="recipe-info">Categoria: {{ receita.categorias[0]?.categorias?.nomeCategoria }}</p>
      <p class="recipe-info">Restrições: {{receita.doencas[0]?.doencas?.nomeDoenca}}</p>

      <ion-row class="ion-justify-content-end">
        <ion-col size="auto">
          <ion-button fill="clear" (click)="salvarReceita(receita)">
            <ion-icon name="heart" [color]="receita.favorita ? 'danger' : 'dark'"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
