.btn-amarelo{
  margin-bottom: 5vh;
  width: 65vw;
}

.title{
  text-align: left;
}

    ion-icon {
      margin-inline-start: 10vw;
    }


  ion-checkbox,
  ion-label {
    display: block;
    margin-block: .3rem;
  }

  .horarios{
    padding: 1.5rem;

    .horario{
        padding-block: .5rem;
    }
}