.btn-amarelo{
  margin-bottom: 5vh;
  width: 65vw;
}

.title{
  text-align: left;
}

ion-card {
    padding: 1.5rem;
    --color: rgba(1, 1, 1, 1);
    margin-block: .5rem;

    ion-card-subtitle,
    ion-card-title {
      margin-block: .3rem;
    }

    .checkboxes {
      margin-block: 1rem;
    }
  }


    ion-icon {
      margin-inline-start: 10vw;
    }


  ion-checkbox,
  ion-label {
    display: block;
    margin-block: .3rem;
  }

  .horarios{
    padding: 1.5rem;

    .horario{
        padding-block: .5rem;
    }
}