.cards {
    width: 90vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    .card-refeicoes {
        --background: rgba(190, 207, 152, 1);
        
        ion-checkbox {
            --checkbox-background: transparent;
            --checkmark-color: rgba(254, 254, 254, 1);
            --checkbox-background-checked: rgba(235, 229, 94, 1);
            --border-color: rgba(1, 1, 1, 1);
            --border-color-checked: rgba(235, 229, 94, 1);
        }
        
        swiper-container {
            margin-block: 0.5rem;
        }
    }
    
    .btn-laranja{
        --background: rgba(244, 179, 119, 1);
        --color: rgba(1, 1, 1, 1);
        height: 5vh;
        
    }
}