/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$color-verde-grama: rgba(190, 207, 152, 1);
$color-laranja: rgba(244, 179, 119, 1);
$color-amarelo: rgba(235, 229, 94, 1);
$color-vermelho: rgba(200, 100, 100, 1);
$color-preto: rgba(1, 1, 1, 1);
$color-branco: rgba(254, 254, 254, 1);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  --ion-font-family: 'Raleway', sans-serif;
  font-weight: 400;
  box-sizing: inherit;
}

ion-content {
  box-sizing: border-box;
}

ion-header {
  height: 8vh;
  background-color: rgba(190, 207, 152, 1);

  ion-toolbar {
    --background: rgba(190, 207, 152, 1);
    height: max-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    ion-searchbar {
      width: 75vw;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      --border-radius: 2rem;
    }

    .btn-mapa {
      --background: transparent;
      --color: rgba(1, 1, 1, 1);
      --box-shadow: none;
    }
  }
}


.tela-start {
  --ion-background-color: #{$color-verde-grama};

  .btn-voltar {
    --background: #{$color-vermelho};
    --color: #{$color-branco};
    margin-inline: 2vw;
    width: 35vw;
  }

  .btn-continuar {
    --background: #{$color-amarelo};
    --color: #{$color-preto};
    margin-inline: 2vw;
    width: 35vw;
  }

  .redes-sociais {
    height: fit-content;
    text-align: center;
    padding-block: 1rem;

    ion-button {
      --color: rgba(254, 254, 254, 1);
      --border-radius: 100rem;
      height: 3.5rem;
      width: 3.5rem;
      text-align: center;
      margin: .7rem;
    }

    .facebook {
      --background: #3b5998;
    }

    .google {
      --background: #db4437;
    }
  }
}

.formulario {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  width: 80vw;
  height: fit-content;
  margin-top: 3vh;


  ion-avatar {
    margin-block: 3rem;
    position: relative;

    img,
    ion-img {
      transform: scale(2, 2);
    }

    .adicionarFoto {
      width: 2.5rem;
      height: 2.5rem;
      --border-radius: 100rem;
      position: absolute;
      left: 80%;
      top: 85%;
      --background: rgba(124, 124, 124, 1);
      --opacity: 90%;
    }
  }

  ion-input {
    margin-block: 2vh;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --border-radius: .5rem;
    --background: #{$color-branco};
  }

  ion-select {
    --background: #{$color-branco};
    --border-radius: .5rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    margin-block: 1rem;
  }

  .buttons {
    margin-block: 1.5rem;
  }
}

.content {
  position: relative;

  .calendario {
    --border-radius: 10rem;
    --border-color: rgba(190, 207, 152, 1);
    width: 90vw;
    margin-block-start: 1.5rem;

    //--background: grey;
    ion-picker {
      --background: rgba(235, 229, 94, 1);
    }
  }

  ion-avatar {
    margin-block: 3rem;
    position: relative;

    img,
    ion-img {
      transform: scale(2, 2);
    }

    .adicionarFoto {
      width: 2.5rem;
      height: 2.5rem;
      --border-radius: 100rem;
      position: absolute;
      left: 80%;
      top: 85%;
      --background: rgba(124, 124, 124, 1);
      --opacity: 90%;
    }
  }

  .cards {
    width: 90vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    ion-card {
      padding: 1.5rem;
      --color: #{$color-preto};
      margin-block: .5rem;

      ion-card-subtitle,
      ion-card-title {
        margin-block: .3rem;
      }

      .checkboxes {
        margin-block: 1rem;
      }
    }

    .card-refeicoes {
      --background: rgba(190, 207, 152, 1);

      ion-checkbox {
        --checkbox-background: transparent;
        --checkmark-color: rgba(254, 254, 254, 1);
        --checkbox-background-checked: rgba(235, 229, 94, 1);
        --border-color: rgba(1, 1, 1, 1);
        --border-color-checked: rgba(235, 229, 94, 1);
      }

      swiper-container {
        margin-block: .5rem;
      }
    }

    .card-remedios {
      --background: rgba(235, 229, 94, 1);

      .detalhes-remedio {
        margin-block: .5rem;
      }
    }
  }

  .btn-laranja {
    --background: #{$color-laranja};
    --color: #{$color-preto};
    height: 5vh;
  }

  .btn-contorno-amarelo {
    --border-radius: 100rem;
    --border-color: #{$color-amarelo};
    --background: transparent;
    --color: #{$color-preto};

    &:active {
      --background: #{$color-amarelo};
    }
  }
}

.btn-amarelo {
  --color: #{$color-preto};
  --background: #{$color-amarelo};
}

.title {
  text-align: center;
  font-weight: bolder;
  padding-block: 1rem;
}

.back-btn {
  --background: transparent;
  --box-shadow: none;
  --color: #{$color-preto};
  padding: 1rem;
}

.criar-horario {
  margin: 1.5rem;
  padding: 1rem;

  .adicionar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  ion-input {
    margin-block: 2vh;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --border-radius: .5rem;
    --background: #{$color-branco};
  }

  ion-select {
    --background: #{$color-branco};
    --border-radius: .5rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    margin-block: 1rem;
  }

  &-item{
    padding-block: .5rem;
    margin-block: 1rem;
    display: block;

    ion-label{
      margin-block: .5rem;
    }
  }
}