/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$color-verde-grama: rgba(190, 207, 152, 1);
$color-laranja: rgba(244, 179, 119, 1);
$color-amarelo: rgba(235, 229, 94, 1);
$color-vermelho: rgba(200, 100, 100, 1);
$color-preto: rgba(1, 1, 1, 1);
$color-branco: rgba(254, 254, 254, 1);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    --ion-font-family: 'Raleway', sans-serif;
    font-weight: 400;
    box-sizing: inherit;
}

ion-content {
    box-sizing: border-box;
}

ion-header {
    height: 8vh;
    background-color: rgba(190, 207, 152, 1);

    ion-toolbar {
      --background: rgba(190, 207, 152, 1);
      height: max-content;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      ion-searchbar {
        width: 75vw;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        --border-radius: 2rem;
      }

      .btn-mapa {
        --background: transparent;
        --color: rgba(1, 1, 1, 1);
        --box-shadow: none;
      }
    }
  }

.tela-start {
    --ion-background-color: #{$color-verde-grama};

    .btn-voltar{
        --background: #{$color-vermelho};
        --color: #{$color-branco};
        margin-inline: 2vw;
    }

    .btn-continuar{
        --background: #{$color-amarelo};
        --color: #{$color-preto};
        margin-inline: 2vw;
    }

    .formulario{
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translateX(-50%) translateY(-50%);
        width: 80vw;
        height: fit-content;
        margin-top: 3vh;

        ion-button{
            width: 35vw;
        }
    
        ion-avatar {
            margin-block: 3rem;
            position: relative;
            img {
                transform: scale(2, 2);
            }
    
            .adicionarFoto {
                width: 2.5rem;
                height: 2.5rem;
                --border-radius: 100rem;
                position: absolute;
                left: 80%;
                top: 85%;
                --background: rgba(124, 124, 124, 1);
                --opacity: 90%;
            }
        }
    
        ion-input{
            margin-block: 2vh;
            --padding-start: 1rem;
            --padding-end: 1rem;
            --border-radius: .5rem;
            --background: #{$color-branco};
        }

        ion-select{
            --background: #{$color-branco};
            --border-radius: .5rem;
            --padding-start: 1rem;
            --padding-end: 1rem;
            margin-block: 1rem;
        }
    
        .buttons{
            margin-block: 1.5rem;
        }
    }
}

.content{
    .calendario{
        --border-radius: 10rem;
        --border-color: rgba(190, 207, 152, 1);
        width: 90vw;
        margin-block-start: 1.5rem;
        //--background: grey;
        ion-picker{
            --background: rgba(235, 229, 94, 1);
        }
    }
}

.title{
    text-align: center;
    font-weight: bolder;
    padding-block: 1rem;
}

.btn {
    width: 50vw;
}

.btn-amarelo {
    --color: #{$color-preto};
    --background: #{$color-amarelo};
}

.btn-laranja{
    --background: rgba(244, 179, 119, 1);
    --color: rgba(1, 1, 1, 1);
    height: 5vh;
}