<ion-content [fullscreen]="true" class="ion-padding tela-start" scroll-y="false">
  <swiper-container>
      <swiper-slide>
          <img src="./slide-1.png" />
          <h2>Bem vindo!</h2>
      </swiper-slide>

      <swiper-slide>
        <img src="" />
        <h2>O que é o ObaDiet?</h2>
        <p>
          <b>ObaDiet</b> E um aplicativo voltado para pessoas com doenças cronicas, que necessitam de auxílio para suas alimentações
        </p>
      </swiper-slide>

      <swiper-slide>
        <img src="" />
        <h2>Por que utilizar o ObaDiet?</h2>
        <p>
          <b>ObaDiet</b> E um aplicativo incrível que possui diversas funções diferentes, que poderão te auxiliar desde a alimentação até o lembrete de horários, mercados e farmácias próximas, tudo de fácil e rápido acesso.
        </p>
      </swiper-slide>

      <swiper-slide>
        <img src="./slide-4.png" />
        <h2>Aproveite o aplicativo, explore novas funcionalidades, tenha uma vida mais saudavel!</h2>
        <ion-button fill="clear" [routerLink]="['/iniciov2']">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </swiper-slide>
  </swiper-container>
</ion-content>

