<ion-content [fullscreen]="true" class="ion-padding tela-start" scroll-y="false">
  <ion-row>
    <ion-col>
      <ion-button class="prev" (click)="goPrev()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col>
      <swiper-container 
      #swiper
      (afterinit)="swiperReady()"
      (slidechange)="swiperSlideChanged($event)"
      [loop]="true"
      [pagination]="true">
    
          <swiper-slide>
            <ion-img src="assets/images/oba-logo.svg" />
            <div class="texto">
            <h2>Seja bem vindo ao ObaDiet!</h2>
            <p>
              <b>ObaDiet</b> é um aplicativo voltado para pessoas que necessitam de auxílio para suas alimentações
            </p>
          </div>
          </swiper-slide>
    
          <swiper-slide>
            <ion-img src="assets/images/oba-logo.svg" />
            <div class="texto">
            <h2>Por que utilizar o ObaDiet?</h2>
            <p>
              Existem diversas funções diferentes, que vão te auxiliar com o controle da sua alimentação e saúde.
            </p>
          </div>
          </swiper-slide>
    
          <swiper-slide>
            <ion-img src="assets/images/oba-logo.svg" />
            <div class="texto">
              <h2>Aproveite o aplicativo, explore novas funcionalidades, tenha uma vida mais saudavel!</h2>
            </div>
            <ion-button [routerLink]="['/iniciov2']">Começar</ion-button>
          </swiper-slide>
      </swiper-container>    
    </ion-col>

    <ion-col>
      <ion-button class="next" (click)="goNext()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-col>
</ion-row>
</ion-content>

