<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Obadiet App</title>
  </head>
  <body>
    <h1>Trocar a senha {{Email}}</h1>
   
   <form action="" method="post">
    <label for="senha">senha</label>
    <input type="password" name="senha" id="senha">
    <br>
    <label for="password">confirmar-senha</label>
    <input type="password" name="confirmar-senha" id="confirmar-senha">
    <br>
    <input type="submit" value="trocar senha">
   </form> 
  </body>
</html>