<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <!--<ion-col size="auto">
        <ion-button class="btn-mapa">
          <ion-icon name="map-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>-->

      <ion-col>
        <ion-searchbar show-clear-button="focus"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-grid class="content">
    <ion-row class="ion-justify-content-center">
      <ion-avatar aria-label="Foto de perfil do usuário">
        <img alt="Foto de perfil do usuário" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        <ion-button class="adicionarFoto" fill="solid" shape="round" size="small"><ion-icon
            name="pencil-outline"></ion-icon></ion-button>
      </ion-avatar>
    </ion-row>

    <div class="informacoes" *ngIf="usuario">
      <h3 class="title">{{usuario.nome}}</h3>
      <label>Idade: {{usuario.idade}}</label>
      <br>
      <label>Peso: {{usuario.peso}}</label>
      <br>
      <label>Altura: {{usuario.altura}}cm</label>
      <br>

      <div class="informacao">
        <ion-row>
          <h3 class="title">Restrições</h3>
        </ion-row>

        <ion-row class="ion-justify-content-center" *ngFor="let restricao of usuario.restricoes" >
          <ion-button class="btn-laranja" expand="block">{{restricao.restricoes.nomeRestricao}}</ion-button>
        </ion-row>

      </div>


      <div class="informacao" >
        <ion-row>
          <h3 class="title">Comorbidades</h3>
        </ion-row>
        <ion-row class="ion-justify-content-center" *ngFor="let doenca of usuario.doencas">
          <ion-button class="btn-laranja" expand="block">{{doenca.doencas.nomeDoenca}}</ion-button>
        </ion-row>
      </div>

      <ion-row class="ion-justify-content-center">
        <ion-button class="btn-amarelo" expand="block" [routerLink]="['/obaDiet/configuracoes']">
          <ion-icon name="settings-sharp"></ion-icon>
          Configurações
        </ion-button>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>
