ion-row
{
    padding: 2rem 1rem 1rem 1rem;

    ion-avatar{

        margin: auto;
    

        img{
            margin: 0 auto; 
            transform: scale(2, 2);
        }
    
    }
    
}


.btn-laranja{
    --background: rgba(244, 179, 119, 1);
    --color: rgba(1, 1, 1, 1);
    padding: 1.5rem;
    height: 5vh;
}

.informacoes{
    padding: 1.5rem;
}

.informacao{
    padding-block: .5rem;
}