.btn-laranja{
    padding-block: .5rem;
    width: 65vw;
}

.btn-amarelo{
    padding-block: 1rem;

    ion-icon{
        margin-inline-end: 3vh;
    }
}

.informacoes{
    padding: 1.5rem;
}

.informacao{
    padding-block: .5rem;
}

.title{
    text-align: left;
}

ion-avatar{
    margin-block-end: 1rem;
}