<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="auto">
        <ion-button class="btn-mapa">
          <ion-icon name="map-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-searchbar show-clear-button="focus"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding">
  <ion-grid class="content">
    <ion-row class="ion-justify-content-center">
      <ion-datetime class="calendario" presentation="date"></ion-datetime>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-button fill="outline" class="btn-contorno-amarelo btn-tipo-horario" (click)="mudarQualHorarioExibir('refeicoes')">
        Refeição
      </ion-button>

      <ion-button fill="outline" class="btn-contorno-amarelo btn-tipo-horario"
        (click)="mudarQualHorarioExibir('remedios')">
        Remédio
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button fill="clear" class="btn-contorno-amarelo btn-tipo-horario btn-todos"
        (click)="mudarQualHorarioExibir('todos')">
        Todos os horários
      </ion-button>
    </ion-row>

    <h6 *ngIf="exibirQuaisHorarios == 'refeicoes'"></h6>
    <h6 *ngIf="exibirQuaisHorarios == 'remedios'"></h6>

    <div class="horarios">
      <h1 class="title">Sua Programação do dia <b>{{ dataAtual.getDate() }}</b></h1>
      <ion-button color="danger" (click)="openModalAlarme()">botão chique</ion-button>

      <div class="horario" *ngIf="exibirQuaisHorarios == 'refeicoes' || exibirQuaisHorarios == 'todos'">
        <div class="horario" *ngFor="let refeicao of horariosRefeicoes">
          <h3>{{ displayHorario(refeicao.horarioRefeicao.horario) }} - Refeição</h3>

          <ion-button class="btn-laranja" expand="block" (click)="setOpen(true)">{{ refeicao.horarioRefeicao.tipo
            }}</ion-button>
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Detalhes da refeição</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false)">Fechar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <swiper-container #swiper (afterinit)="swiperReady()" (slidechange)="swiperSlideChanged($event)"
                  space-between="10" slides-per-view="2.5">

                  <swiper-slide *ngFor="let receita of refeicao.horarioRefeicao.receitas">
                    <ion-img [src]="receita.img"/>
                    <ion-label>{{ receita.nome }}</ion-label>
                  </swiper-slide>

                </swiper-container>
                <h3>{{ refeicao.horarioRefeicao.tipo }}</h3>
                <h6>
                  Alarme programado para {{ displayHorario(refeicao.horarioRefeicao.horario) }};
                </h6>
                <h6>
                  Repetição: {{ refeicao.horarioRefeicao.repetir }}
                </h6>
              </ion-content>
            </ng-template>
          </ion-modal>
        </div>
      </div>

      <div class="horario-remedios" *ngIf="exibirQuaisHorarios == 'remedios' || exibirQuaisHorarios == 'todos'">
        <div class="horario" *ngFor="let remedio of horariosRemedios">
          <h3>{{ displayHorario(remedio.horarioRemedio.horario) }} - Remédio</h3>

          <ion-button class="btn-laranja" expand="block" (click)="setOpen(true)">{{ remedio.horarioRemedio.nomeRemedio
            }}</ion-button>
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Detalhes do remédio</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false)">Fechar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <h3>{{ remedio.horarioRemedio.nomeRemedio }}</h3>
                <h6>
                  Alarme programado para {{ displayHorario(remedio.horarioRemedio.horario) }};
                </h6>
                <h6>
                  Repetição: {{ remedio.horarioRemedio.repetir }}
                </h6>
              </ion-content>
            </ng-template>
          </ion-modal>
        </div>
      </div>
    </div>
  </ion-grid>
</ion-content>