.horarios{
    padding: 1.5rem;

    .horario{
        padding-block: .5rem;
    }
}

.btn-contorno-amarelo{
    width: 35vw;
    margin-inline: 2vw;
}

.btn-tipo-horario{
    &:focus{
        --background: rgba(235, 229, 94, 1); 
    }
}

.btn-todos{
    width: 75vw;
    margin-block: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}