<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="auto">
        <ion-button class="btn-mapa">
          <ion-icon name="map-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-searchbar show-clear-button="focus"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding">
  <ion-grid class="content">
    <ion-row class="ion-justify-content-center">
      <ion-datetime class="calendario" value="{{dataComparacao}}T00:00:00" presentation="date"
        (ionChange)="selecionarData($event)"></ion-datetime>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-button fill="outline" class="btn-contorno-amarelo btn-tipo-horario"
        (click)="mudarQualHorarioExibir('Suas refeições')">
        Refeição
      </ion-button>

      <ion-button fill="outline" class="btn-contorno-amarelo btn-tipo-horario"
        (click)="mudarQualHorarioExibir('Seus remédios')">
        Remédio
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button fill="clear" class="btn-contorno-amarelo btn-tipo-horario btn-todos"
        (click)="mudarQualHorarioExibir('Sua programação')">
        Todos os horários
      </ion-button>
    </ion-row>

    <div class="horarios">
      <h1 class="title">{{ exibirQuaisHorarios }} do dia <b>{{ dataComparacao.split('-')[2] }}/{{
          dataComparacao.split('-')[1] }}</b></h1>
      <!--<ion-button color="danger" (click)="openModalAlarme()">botão chique</ion-button>-->

      <div class="horario" *ngIf="exibirQuaisHorarios == 'Suas refeições' || exibirQuaisHorarios == 'Sua programação'">
        <div class="horario" *ngFor="let refeicao of horariosRefeicoes">
          <div *ngIf="refeicao.data == dataComparacao">
            <h3>{{ displayHorario(refeicao.horarios) }} - Refeição</h3>

            <ion-button class="btn-laranja" expand="block" (click)="setRefeicaoOpen(true)">{{ refeicao.tipo
              }}</ion-button>
            <ion-modal [isOpen]="isModalRefeicaoOpen">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title>Detalhes da refeição</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="setRefeicaoOpen(false)">Fechar</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <ion-row>
                    <swiper-container #swiper (afterinit)="swiperReady()" (slidechange)="swiperSlideChanged($event)"
                    space-between="10" slides-per-view="2.5">

                    <swiper-slide *ngFor="let receita of refeicao.receitas">
                      <ion-img [src]="receita.img" />
                      <ion-label>{{ receita.nome }}</ion-label>
                    </swiper-slide>

                  </swiper-container>
                  </ion-row>
                  <ion-row>
                    <h3>{{ refeicao.tipo }}</h3>
                  </ion-row>
                  <ion-row>
                    <h6>
                      Alarme programado para {{ displayHorario(refeicao.horario) }};
                    </h6>
                  </ion-row>
                  <ion-row>
                    <h6>
                      Repetição: {{ refeicao.repetir }}
                    </h6>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button color="warning">Editar horário</ion-button>
                    </ion-col>
                    <ion-col>
                      <ion-button color="danger" id="present-alert" (click)="pegarIdHorarioAlert(refeicao.idhorarios)">Excluir horário</ion-button>
                      <ion-alert trigger="present-alert" header="Você está prestes a excluir o horário para {{ refeicao.tipo }}!" message="A exclusão de um horário é irreversível. Excluir horário?"
                        [buttons]="alertRefeicaoButtons"></ion-alert>
                    </ion-col>
                  </ion-row>
                </ion-content>
              </ng-template>
            </ion-modal>
          </div>
        </div>
      </div>

      <div class="horario-remedios"
        *ngIf="exibirQuaisHorarios == 'Seus remédios' || exibirQuaisHorarios == 'Sua programação'">
        <div class="horario" *ngFor="let remedio of horariosRemedios">
          <div *ngIf="remedio.data == dataComparacao">
            <h3>{{ displayHorario(remedio.horarios) }} - Remédio</h3>
            <ion-button class="btn-laranja" expand="block" (click)="setRemedioOpen(true)">{{ remedio.nomeRemedio
              }}</ion-button>
            <ion-modal [isOpen]="isModalRemedioOpen">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title>Detalhes do remédio</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="setRemedioOpen(false)">Fechar</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <ion-row>
                    <h3>{{ remedio.nomeRemedio }}</h3>
                  </ion-row>
                  <ion-row>
                    <h6>
                      Alarme programado para {{ displayHorario(remedio.horarios) }};
                    </h6>
                  </ion-row>
                  <ion-row>
                    <h6>
                      Repetição: {{ remedio.repetir }}
                    </h6>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button color="warning">Editar horário</ion-button>
                    </ion-col>
                    <ion-col>
                      <ion-button color="danger" id="present-alert" (click)="pegarIdHorarioAlert(remedio.idHorario)">Excluir horário</ion-button>
                      <ion-alert trigger="present-alert" header="Você está prestes a excluir o horário para {{ remedio.nomeRemedio }}!" message="A exclusão de um horário é irreversível. Excluir horário?"
                        [buttons]="alertRemedioButtons"></ion-alert>
                    </ion-col>
                  </ion-row>
                </ion-content>
              </ng-template>
            </ion-modal>
          </div>
        </div>
      </div>
    </div>
  </ion-grid>
</ion-content>