<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="auto">
        <ion-button class="btn-mapa">
          <ion-icon name="map-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-searchbar show-clear-button="focus"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding">
  <ion-grid class="content">
    <ion-row class="ion-justify-content-center">
      <ion-datetime class="calendario" presentation="date"></ion-datetime>
    </ion-row>

    <ion-row class="ion-justify-content-center">
        <ion-button fill="outline" class="btn-contorno-amarelo">
          Refeição
        </ion-button>

        <ion-button fill="outline" class="btn-contorno-amarelo">
          Remédio
        </ion-button>
    </ion-row>

    <div class="horarios">
      <h1 class="title">Sua Programação do dia <b>{{ dataAtual.getDate() }}</b></h1>

      <div class="horario">
        <h3>00:00h</h3>

        <ion-button class="btn-laranja" expand="block" (click)="setOpen(true)">Café da manhã</ion-button>
        <ion-modal [isOpen]="isModalOpen">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Café da manhã</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpen(false)">Fechar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-img src="https://quaker.lat/app/uploads/sites/15/2019/06/licuado-de-pina-y-coco-640x350.jpg"
                alt="Captcha"></ion-img>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
                reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui.
                Eaque,
                dicta.
              </p>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>

      <div class="horario">
        <h3>00:00h</h3>

        <ion-button class="btn-laranja" expand="block" (click)="setOpen(true)">Almoço</ion-button>
        <ion-modal [isOpen]="isModalOpen">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Almoço</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpen(false)">Fechar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-img src="https://quaker.lat/app/uploads/sites/15/2019/06/licuado-de-pina-y-coco-640x350.jpg"
                alt="Captcha"></ion-img>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
                reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui.
                Eaque,
                dicta.
              </p>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>

      <div class="horario">
        <h3>00:00h</h3>

        <ion-button class="btn-laranja" expand="block" (click)="setOpen(true)">Café da tarde</ion-button>
        <ion-modal [isOpen]="isModalOpen">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Café da tarde</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpen(false)">Fechar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-img src="https://quaker.lat/app/uploads/sites/15/2019/06/licuado-de-pina-y-coco-640x350.jpg"
                alt="Captcha"></ion-img>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
                reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui.
                Eaque,
                dicta.
              </p>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>

      <div class="horario">
        <h3>00:00h</h3>

        <ion-button class="btn-laranja" expand="block" (click)="setOpen(true)">Jantar</ion-button>
        <ion-modal [isOpen]="isModalOpen">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Jantar</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpen(false)">Fechar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-img src="https://quaker.lat/app/uploads/sites/15/2019/06/licuado-de-pina-y-coco-640x350.jpg"
                alt="Captcha"></ion-img>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
                reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui.
                Eaque,
                dicta.
              </p>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </div>
  </ion-grid>
</ion-content>