.calendario{
    --border-radius: 10rem;
    --border-color: rgba(190, 207, 152, 1);
    width: 90vw;
    margin-block-start: 1.5rem;
    //--background: grey;
    ion-picker{
        --background: rgba(235, 229, 94, 1);
    }
}

.btn-laranja{
    --background: rgba(244, 179, 119, 1);
    --color: rgba(1, 1, 1, 1);
    height: 5vh;
}

.horarios{
    padding: 1.5rem;
}

.horario{
    padding-block: .5rem;
}

.title{
    font-weight: bolder;
    padding-block: 1rem;
}

.btn-contorno-amarelo{
    width: 35vw;
    margin-inline: 2vw;
    --border-radius: 10rem;
    --background: transparent;
    --border-color: rgba(235, 229, 94, 1);
    --color: rgba(1, 1, 1, 1);
    &:active, &:focus{
        --background: rgba(235, 229, 94, 1);
    }
}