  .btn-contorno-amarelo,
  .btn-card {
    --border-radius: 100rem;
    --color: rgba(1, 1, 1, 1);
    width: 80vw;
    &:active,
    &:focus {
      --background: rgba(235, 229, 94, 1);
    }

    ion-icon {
      margin-inline-start: 10vw;
    }
  }

  .btn-card {
    --border-radius: 100rem;
    --background: rgba(254, 254, 254, 1);
  }

  ion-checkbox,
  ion-label {
    display: block;
    margin-block: .3rem;
  }