.btn-laranja{
    padding: 1.5rem;
    padding-block: .5rem;
    width: 65vw;
}

.informacoes{
    padding: 1.5rem;
    padding-block: .5rem;
    width: 65vw;
}

.informacao{
    
    padding-block: .5rem;
    width: 65vw;
}

.title{
    white-space: nowrap;
    
    text-align: left;
}
