<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-button class="back-btn" slot="start" (click)="cancel()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    <ion-title>Adicionar refeição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-grid class="criar-horario">
    <ion-row class="criar-horario-item ion-justify-content-center">
      <ion-label>
        Data da refeição
      </ion-label>
      <ion-datetime locale="pt-BR" class="calendario" presentation="date" (ionChange)="selecionarData($event)"></ion-datetime>
    </ion-row>
    <ion-row class="criar-horario-item">
      <ion-label>
        Tipo de refeição
      </ion-label>
      <ion-select aria-label="Refeição" interface="popover" placeholder="Refeição"
      (ionChange)="selecionarRefeicao($event)">
        <ion-select-option value="Café da manhã">Café da manhã</ion-select-option>
        <ion-select-option value="Lanche da manhã">Lanche da manhã</ion-select-option>
        <ion-select-option value="Almoço">Almoço</ion-select-option>
        <ion-select-option value="Lanche da tarde">Lanche da tarde</ion-select-option>
        <ion-select-option value="Jantar">Jantar</ion-select-option>
      </ion-select>
    </ion-row>
    <ion-row class="criar-horario-item">
      <ion-button id="criarModalRepeticao" fill="outline" class="btn-contorno-amarelo btn-repeticao">
        <ion-icon slot="end" name="caret-down-outline"></ion-icon>
        Repetir</ion-button>
      <ion-modal id="modalRepeticao" #modal trigger="criarModalRepeticao">
        <ng-template>
          <div class="wrapper">
            <ion-list lines="none">
              <ion-item button="true" detail="false" (click)="selecionarRepeticao('Não repetir')">
                <ion-label>Não repetir</ion-label>
              </ion-item>
              <ion-item button="true" detail="false" (click)="selecionarRepeticao('Todos os dias')">
                <ion-label>Todos os dias</ion-label>
              </ion-item>
              <ion-item button="true" detail="false" (click)="selecionarRepeticao('Personalizado')" (click)="openModalHrPers()" value="personalizado">
                <ion-label>Personalizado</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ng-template>
      </ion-modal>
      <h5 class="lbRepeticao" *ngIf="horarioRefeicao.repetir !== ''">
        {{ horarioRefeicao.repetir }}
      </h5>
    </ion-row>
    <ion-row class="criar-horario-item">
      <ion-label>
        Receitas
      </ion-label>
      <ion-list [inset]="true" *ngIf="receitas.length > 0">
        <ion-item-sliding *ngFor="let receitaSalva of 
        receitas">
          <ion-item [button]="true">
            <ion-avatar aria-hidden="true" slot="start">
              <img alt="" [src]=" receitaSalva.img" />
            </ion-avatar>
            <ion-label>{{ receitaSalva.nome }}</ion-label>
          </ion-item>
          <ion-item-options slot="end">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash" (click)="removeReceita(receitaSalva.idReceita)"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
      <ion-button fill="outline" class="btn-contorno-amarelo addReceitas" (click)="openModalReceitasSalvas()">
        Adicionar uma receita salva
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-row>
    <ion-row class="criar-horario-item">
      <ion-label>
        Horário
      </ion-label>
      <ion-datetime presentation="time" (ionChange)="selecionarHorario($event)"></ion-datetime>
    </ion-row>
    <ion-row class="criar-horario-item">
      <ion-button class="btn-amarelo adicionar" (click)="confirm()">
        Adicionar
      </ion-button>
    </ion-row>
    <ion-toast
    [isOpen]="isToastOpen"
    message="Selecione um horário válido!"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
  </ion-grid>
</ion-content>