ion-modal#modalRepeticao {
    --width: fit-content;
    --min-width: 75vw;
    --height: fit-content;
    --border-radius: 1rem;
    --box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4);
}

ion-modal#modalRepeticao h2 {
    margin: 2rem 2rem 1rem 2rem;
}

ion-modal#modalRepeticao ion-icon {
    margin-right: 1rem;

    width: 5rem;
    height: 5rem;

    padding: 0.4rem 0;

    color: #aaaaaa;
}

ion-modal#modalRepeticao .wrapper {
    margin-bottom: 1rem;
}

ion-modal#modalRepeticao{
    ion-icon{
        color: rgba(190, 207, 152, 1);
    }
}

.btn-repeticao, .addReceitas{
    width: 80vw;
}

.lbRepeticao{
    padding-block: 1rem;
    margin-block: 1rem;
    text-align: center;
    background-color: rgba(235, 229, 94, 1);
}