<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button class="back-btn" slot="start" (click)="cancel()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Horário personalizado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-grid class="criar-horario">
    <ion-row class="criar-horario-item">
      <ion-label>
        Repete a cada:
      </ion-label>
      <ion-input type="number" placeholder="000" min="1" [(ngModel)]="horarioPersonalizado.qtdRepeteCada"></ion-input>
      <ion-select value="semana" aria-label="Repetir" interface="popover" placeholder="Repetir a cada" (ionChange)="selecionarQndRepeteCada($event)">
        <ion-select-option value="dia">Dia</ion-select-option>
        <ion-select-option value="semana">Semana</ion-select-option>
        <ion-select-option value="mês">Mês</ion-select-option>
        <ion-select-option value="ano">Ano</ion-select-option>
      </ion-select>
    </ion-row>
    <ion-row class="criar-horario-item">
      <ion-label>
        Repetir às/aos:
      </ion-label>
      <div class="btns-semana" *ngIf="horarioPersonalizado.quandoRepeteCada !== 'dia'">
        <ion-checkbox (ionChange)="selecionarDiasSemana($event)" value="domingo" justify="start" labelPlacement="end">Domingo</ion-checkbox>
        <ion-checkbox (ionChange)="selecionarDiasSemana($event)" value="segunda-feira" justify="start" labelPlacement="end">Segunda-feira</ion-checkbox>
        <ion-checkbox (ionChange)="selecionarDiasSemana($event)" value="terça-feira" justify="start" labelPlacement="end">Terça-feira</ion-checkbox>
        <ion-checkbox (ionChange)="selecionarDiasSemana($event)" value="quarta-feira" justify="start" labelPlacement="end">Quarta-feira</ion-checkbox>
        <ion-checkbox (ionChange)="selecionarDiasSemana($event)" value="quinta-feira" justify="start" labelPlacement="end">Quinta-feira</ion-checkbox>
        <ion-checkbox (ionChange)="selecionarDiasSemana($event)" value="sexta-feira" justify="start" labelPlacement="end">Sexta-feira</ion-checkbox>
        <ion-checkbox (ionChange)="selecionarDiasSemana($event)" value="sábado" justify="start" labelPlacement="end">Sábado</ion-checkbox>
      </div>
    </ion-row>
    <ion-row class="criar-horario-item">
      <ion-label>
        Termina
      </ion-label>
      <ion-radio-group value="nunca" (ionChange)="selecionarTermino($event)">
        <ion-radio value="nunca" justify="start" labelPlacement="end" justify="start" labelPlacement="end">Nunca</ion-radio>
        <ion-radio value="em" justify="start" labelPlacement="end" justify="start" labelPlacement="end">Em</ion-radio>
        <ion-datetime-button presentation="date" datetime="datetime" *ngIf="horarioPersonalizado.qndTermina == 'em'"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime (ionChange)="selecionarDataHorario($event)" id="datetime"></ion-datetime>
            </ng-template>
          </ion-modal>
        <ion-radio value="apos" justify="start" labelPlacement="end" justify="start" labelPlacement="end">Após {{horarioPersonalizado.nmrRepeticoesTermino}} {{ocorrencia}}
        </ion-radio>
        <ion-input *ngIf="horarioPersonalizado.qndTermina == 'apos'" type="number" placeholder="000" min="1" [(ngModel)]="horarioPersonalizado.nmrRepeticoesTermino" (ionChange)="ocorrenciaString()"></ion-input>
      </ion-radio-group>
    </ion-row>
    <ion-row class="criar-horario-item">
      <ion-button class="btn-amarelo adicionar" (click)="confirm()">
        Concluir
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>