.btn-laranja{
    --background: rgba(244, 179, 119, 1);
    --color: rgba(1, 1, 1, 1);
    height: 5vh;
}

.btn-amarelo{
    --background: rgba(235, 229, 94, 1);
    --color: rgba(1, 1, 1, 1);
    height: 5vh;

}

.card-amarelo{
    --background: rgba(235, 229, 94, 1);
    --color: rgba(1, 1, 1, 1);
}