<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>meusRemedios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">meusRemedios</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <h3>Meus remédios</h3>

  <ion-card class="card-amarelo">
    <ion-card-header>
      <ion-card-title>Próximo remédio</ion-card-title>
      <ion-card-subtitle>Glifage XR 500mg</ion-card-subtitle>
      <ion-card-subtitle>Trayenta 5mg</ion-card-subtitle>
    </ion-card-header>
  <ion-card-content>16:30h</ion-card-content>
  </ion-card>


<h3>00:00h</h3>
<ion-button class="btn-laranja" expand="block">Remédio 1</ion-button>

<h3>00:00h</h3>
<ion-button class="btn-laranja" expand="block">Remédio 2</ion-button>


<h3>00:00h</h3>
<ion-button class="btn-laranja" expand="block">Remédio 3</ion-button>

<h3>00:00h</h3>
<ion-button class="btn-laranja" expand="block">Remédio 4</ion-button>

<ion-row class="ion-justify-content-center">
  <ion-col size-lg="4" size-md="4" size-sm="4" size="8">
    <ion-button class="btn-amarelo" expand="block">Adicionar remédio</ion-button>
  </ion-col>
</ion-row>

</ion-content>

