.title{
    padding-inline: 5vw;
}

.btn-amarelo{
    height: 5vh;
    margin-bottom: 5vh;
    width: 65vw;
}

.horarios{
    padding: 1.5rem;

    .horario{
        padding-block: .5rem;
    }
}

ion-card {
    width: 80vw;
  }
