<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>meusRemedios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="content">
    <ion-row>
      <h3 class="title">Meus remédios</h3>
    </ion-row>
    <div class="cards">
    <ion-row>
        <ion-card class="card-remedios">
          <ion-card-header>
            <ion-card-title class="titulo">próximo remédio</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-row class="detalhes-remedio">
              <ion-col>
                <ion-label>Glifage XR 500mg</ion-label>
                <ion-label>Trayenta 5mg</ion-label>
              </ion-col>

              <ion-col class="ion-align-items-center">
                <h1>16:30h</h1>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
    </ion-row>

    <div class="horarios">
      <div class="horario">
        <h3>00:00h</h3>
        <ion-button class="btn-laranja" expand="block">Remédio 1</ion-button>
      </div>

      <div class="horario">
        <h3>00:00h</h3>
        <ion-button class="btn-laranja" expand="block">Remédio 2</ion-button>
      </div>

      <div class="horario">
        <h3>00:00h</h3>
        <ion-button class="btn-laranja" expand="block">Remédio 3</ion-button>
      </div>

      <div class="horario">
        <h3>00:00h</h3>
        <ion-button class="btn-laranja" expand="block">Remédio 4</ion-button>
      </div>
    </div>

    <ion-row class="ion-justify-content-center">
        <ion-button class="btn-amarelo">Adicionar remédio</ion-button>
    </ion-row>
    </div>
  </ion-grid>
</ion-content>