<ion-content [fullscreen]="true" class="tela-start">
  <ion-grid class="formulario">
    <ion-row>
      <h1 class="title">Comorbidades e restrições</h1>
    </ion-row>
    <ion-row>
      <ion-select aria-label="Doencas" placeholder="Doenças:" [multiple]="true" (ionChange)="selecionarDoencas($event)">
        <ion-select-option value="">Nenhuma</ion-select-option>
        <ion-select-option value="diabetes">Diabetes</ion-select-option>
        <ion-select-option value="colesterol">Colesterol</ion-select-option>
        <ion-select-option value="pressão alta">Pressão alta</ion-select-option>
      </ion-select>
    </ion-row>
    <ion-row>
      <ion-select aria-label="Restricoes" placeholder="Restrições:" [multiple]="true" (ionChange)="selecionarRestricoes($event)">
        <ion-select-option value="">Nenhuma</ion-select-option>
        <ion-select-option value="gluten">Glúten</ion-select-option>
        <ion-select-option value="lactose">Lactose</ion-select-option>
      </ion-select>

    </ion-row>

    <ion-row class="ion-justify-content-center">
      <h5 class="opcao-none" [routerLink]="['/obaDiet']">
      Não tenho nenhuma restrição ou comorbidade
      </h5>
    </ion-row>
    
    <ion-row>
      <div class="buttons">
      <ion-col>
        <ion-button aria-label="Botão voltar"[routerLink]="['/cadastro2']" class="btn-voltar">Voltar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button aria-label="Botão Cadastrar" [routerLink]="['/obaDiet']" class="btn-continuar">Cadastrar</ion-button>
      </ion-col>
    </div>
    </ion-row>
  </ion-grid>
</ion-content>
