<ion-content [fullscreen]="true" class="tela-start">
  <ion-grid class="formulario">
    <ion-row>
      <h1 class="title">Comorbidades e restrições</h1>
    </ion-row>
    <ion-row *ngIf="doencas">
      <ion-select aria-label="Doencas" placeholder="Doenças:" [multiple]="true" (ionChange)="selecionarDoencas($event)">
        <ion-select-option *ngFor="let doenca of doencas" value={{doenca.idDoenca}}>{{doenca.nomeDoenca}}</ion-select-option>
      </ion-select>
    </ion-row>
    <ion-row *ngIf="restricao">
      <ion-select aria-label="Restricoes" placeholder="Restrições:" [multiple]="true" (ionChange)="selecionarRestricoes($event)" >
        <ion-select-option *ngFor="let restricao of restricao" value={{restricao.idRestricao}}>{{restricao.nomeRestricao}}</ion-select-option>
      </ion-select>

    </ion-row>

    <ion-row class="ion-justify-content-center">
      <h5 class="opcao-none" [routerLink]="['/obaDiet']">
      Não tenho nenhuma restrição ou comorbidade
      </h5>
    </ion-row>
    
    <ion-row>
      <div class="buttons">
      <ion-col>
        <ion-button aria-label="Botão voltar"[routerLink]="['/cadastro2']" class="btn-voltar">Voltar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button aria-label="Botão Cadastrar" (click)="continuarCadastro()"class="btn-continuar" >Cadastrar</ion-button>
      </ion-col>
    </div>
    </ion-row>
    <ion-toast [isOpen]="isToastOpen"
    message="{{mensagem}}"
    [duration]="4000"
    (didDismiss)="setOpen(false)"
    ></ion-toast>
  </ion-grid>
</ion-content>
