<ion-content [fullscreen]="true" class="tela-start">
  <form>
    <ion-grid class="formulario">
      <ion-row class="ion-justify-content-center">
        <ion-img alt="abacates" src="assets/images/abacates-deliciosos.png" />
      </ion-row>

      <ion-row>
        <ion-input labelPlacement="stacked" label="Email:" type="email"></ion-input>
      </ion-row>

      <ion-row>
        <ion-input labelPlacement="stacked" label="Senha:" type="password"></ion-input>
      </ion-row>

      <ion-row>
        <ion-label class="text" [routerLink]="['/recuperacao']">
          Esqueceu a senha?
        </ion-label>
      </ion-row>


      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-button class="btn-voltar" [routerLink]="['/iniciov2']">voltar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="btn-continuar" [routerLink]="['/obaDiet']">FAZER LOGIN</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-label class="text">
          CONTINUAR COM:
        </ion-label>
      </ion-row>


      <div class="redes-sociais">
        <ion-row class="ion-justify-content-center">
          <ion-button class="facebook">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button class="google">
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
        </ion-row>
      </div>
    </ion-grid>
  </form>
</ion-content>