<ion-content>

  <form >
    <ion-grid class="content">

      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="4" size-md="4" size-sm="4" size="8">
          <ion-avatar class="avatar" >
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
          <ion-item class="form">
            <ion-label position="stacked">Email:</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="12" size-md="12" size-sm="12" size="12" >
          <ion-item class="form">
            <ion-label position="stacked">Senha:</ion-label>
            <ion-input type="passaword"></ion-input>
          </ion-item>

          <ion-col size-lg="4" size-md="4" size-sm="4" size="4" >
          <ion-label style="margin-left: 10px;"> <a style="color:black"> Esqueceu a senha?</a></ion-label>
        </ion-col>

        </ion-col>
      </ion-row>


      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="4" size-md="4" size-sm="4" size="8">
          <ion-button expand="block" color="warning">FAZER LOGIN</ion-button>
        </ion-col>
      </ion-row>
   
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="12" size-md="12" size-sm="12" size="6">
          <ion-label>
            CONTINUAR COM:
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="buttons">
      <button class="facebook">
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button class="google">
        <ion-icon name="logo-google"></ion-icon>
      </button>
    </div> <br>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
          <ion-icon name="home">
            
          </ion-icon>
      </ion-col>
      <ion-col size="6">
        <ion-icon name="trash"></ion-icon>
      </ion-col>
    </ion-row>
  </form>
</ion-content>