.card-amarelo{
    --background: rgba(235, 229, 94, 1);
    --color: rgba(1, 1, 1, 1);
}

.sub-titulo{
    --color: rgba(1, 1, 1, 1);
    padding: 1rem;
}

.card-cinza, ion-item{
    --background: rgba(217, 217, 217, 1);
    --color: rgba(1, 1, 1, 1);
}

.batman{
    padding: 1.5rem;
}

.card-titulo{
    padding: 1rem;
}

ion-card-title{
    font-weight: bolder;
}

ion-img{
    width: 90vw;
}

ion-button{
    --color: rgba(1, 1, 1, 1);
}
