<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>receita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-end">
      <ion-button>
        <ion-icon name="bookmark"></ion-icon>
      </ion-button>   
    </ion-row>
    <br>
    
    <ion-row>
    <ion-img src="assets/images/camaroes-deliciosos.png"></ion-img>
    </ion-row>
   
    <div class="batman">

    <ion-row>
      <h3>Camarão ao alho e azeite</h3>
    </ion-row>
    <br>

    <ion-card class="card-cinza">
    <ion-card-header>
    <ion-card-title class="card-titulo">Ingredientes</ion-card-title>
    </ion-card-header>
    <ion-card-content>1 Kg de camarão sem a cabeça</ion-card-content>
    <ion-card-content>2 cabeças de alho picado bem fininho</ion-card-content>
    <ion-card-content>Azeite extra virgem</ion-card-content>
    <ion-card-content>1 cebola de cabeça picada em rodelas</ion-card-content>
    </ion-card>
    <br>

    <ion-row>
      <h3>Modo de preparo</h3>
    </ion-row>
    <br>
    <ion-row>
      <h3>1 Passo</h3>
    </ion-row>
    <ion-row>
        <label>Coloque o azeite na panela o suficiente para dourar o alho e a cebola.</label>
    </ion-row>

    <ion-row>
      <h3>2 Passo</h3>
    </ion-row>
    <ion-row>
        <label>Coloque o alho e a cebola e deixe gratinar, coloque o camarão mexa um pouco.</label>
    </ion-row>

    <ion-row>
      <h3>3 Passo</h3>
    </ion-row>
    <ion-row>
        <label>Coloque um pouco de água e mais um pouco de azeite.</label>
    </ion-row>

    <ion-row>
      <h3>4 Passo</h3>
    </ion-row>
    <ion-row>
        <label>Sal a gosto.</label>
    </ion-row>

    <ion-row>
      <h3>5 Passo</h3>
    </ion-row>
    <ion-row>
        <label>Deixe a água secar.</label>
    </ion-row>

    <ion-row>
      <h3>6 Passo</h3>
    </ion-row>
    <ion-row>
        <label>Retire e sirva.</label>
    </ion-row>

    <ion-row>
      <h3>7 Passo</h3>
    </ion-row>
    <ion-row>
        <label>Sirva com batatas cozidas temperadas com vinagre e sal e salada de palmito com azeitona e tomate.</label>
    </ion-row>
    <br>

    <ion-row>
      <ion-card class="card-amarelo">
        <ion-card-header>
        <ion-card-title class="card-titulo">Benefícios</ion-card-title>
        <ion-card-subtitle class="sub-titulo">proteínas</ion-card-subtitle>
        <ion-card-subtitle class="sub-titulo">minerais essenciais</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>o camarão é uma excelente fonte de proteínas e minerais essenciais? Além disso, o alho é conhecido por seus benefícios para a saúde, como a capacidade de fortalecer o sistema imunológico e reduzir o colesterol. Então, além de delicioso, esse prato também traz benefícios nutricionais para o seu corpo!</ion-card-content>
        </ion-card>
    </ion-row>
  </div>
  </ion-grid>
</ion-content>
